*{
	background-color: #20B2AA;
}
h1{
	text-align: center;
	font-family: 'Exo', sans-serif;
	font-size: 40px;
	color: #062ED4;
}
input{
 border: 2px solid #009B7D;
  padding : 2px 10px;
  margin  : 1;
  width   : 194px;
  background:#18A88D;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
button{
  font-size: 20px; 
        font-family: Verdana, Helvetica; 
        font-weight: bold; 
        color :white; 
        background: #16DF16; 
        border: 5px; 
        width: 100px; 
        height: 30px; 
}
#botonParaAgregarALaLista{
	font-size: 20px; 
        font-family: Verdana, Helvetica; 
        font-weight: bold; 
        color :white; 
        background: #16DF16; 
        border: 5px; 
        width: 150px; 
        height: 30px;
        padding-left: 3px;
        margin-left: 6px;
}